<div class="container-fluid">
    <div class="row justify-content-center">
        <h1 class="pt-4">Comprar Juego</h1>
    </div>

</div>
<div class="row m-0 justify-content-center align-content-center pale-blue px-sm-5">
  <div class="register-form w-75">
    <div class="module">
      <form [formGroup]="RegisterForm" (ngSubmit)="submit()">
        <div class="form-group">
          <label for="name">Nombre y Apellido</label>
          <input type="text" placeholder="Santiago Orellana" id="name" formControlName="name"
            class="form-control form-field" />
        </div>

        <div class="form-group">
          <label for="correo">Correo electronico</label>
          <input type="correo" placeholder="Usuario@123.com" id="correo" formControlName="correo"
            class="form-control form-field" />
        </div>

        <div class="form-group">
          <label for="Cedula">Cedula</label>
          <input type="number" placeholder="123456" id="Cedula" formControlName="cedula"
            class="form-control form-field" />
        </div>

        <button class="btn btn-block my-4" type="submit">
          Comprar
        </button>
      </form>
    </div>
  </div>
</div>
