<div class="container-sm my-bg">
  <div class="row">
    <div class="col-6">
      <h1 class="p-4">List of Video-Games</h1>
    </div>
    <div class="col-6 justify-content-right align-content-center">
        <input class="form-control mr-sm-2" type="search" [(ngModel)]="gameSearched" placeholder="Busca tu videojuego">
    </div>
  </div>
<div class="row">
  <div class="responsive" *ngFor="let game of games | filter: 'name':gameSearched">
    <div class="gallery">
      <a [routerLink]="['/see-details', game.id]">
        <img class="game-img" src="{{ game.background_image }}" alt="Forest" width="600" height="400">
      </a>
      <div class="title">{{ game.name }}</div>
    </div>
  </div>
</div>
  <button class="btn btn-info text-center" >Cargas mas juegos</button>
  <div class="row">
    <h1>Proximos estrenos: </h1>
    <!-- <div class="row">
      <div class="responsive" *ngFor="let game of games | filter: 'name':gameSearched">
        <div class="gallery">
          <a [routerLink]="['/see-details', game.id]">
            <img class="game-img" src="{{ game.background_image }}" alt="Forest" width="600" height="400">
          </a>
          <div class="title">{{ game.name }}</div>
        </div>
      </div>
    </div> -->
  </div>
</div>
